@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.component-div {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border-radius: 25px;
    width: calc(80%); 
    height: calc(90%); 
    background-color: #26273d;
    min-height: 400px; 
    min-width: 400px; 
}

.clock-div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 90%;
    overflow-x: hidden;
    margin-top: 20px;
    height: 95%; 
    background-color: #26273d;
}

.circle {
    width: 245px;  
    height: 245px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes alternateBackground {
    0% { background-color: #67cb88; }  /* Green */
    50% { background-color: #cb6767; } /* Red */
    100% { background-color: #67cb88; } /* Green */
}

.alternate {
    animation: alternateBackground 1s linear infinite;
}

.inner-circle {
    width: 220px; 
    height: 220px;
    border-radius: 50%; 
    background-color: #26273d; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    color:#a2a4cb;
    font-family: 'Open Sans',sans-serif; 
    font-size: smaller;
}

.countup{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:#ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size:xx-large;
}

.countdown{
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center; 
    color:#a2a4cb;
    font-size: small;
    font-family: 'Open Sans',sans-serif;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:90%;
    height:30%;
    margin-bottom: 20px;
}

.button {
    background-color: #26273d;
    text-align: center;
    color: #ffffff;
    font-size: small;
    border-radius: 25px;
    padding: 7px 20px;
    border: 0.5px solid #606170;
    font-family: 'Open Sans', sans-serif;
    transition: transform 0.5s ease, background-color 0.2s ease; 
}

.button:active {
    transform: scale(1.05); 
    background-color: #67cb88; 
}






